<a href="https://colab.research.google.com/github/ankita2585/c31/blob/main/class97.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
num1 = 5
print(num1)

5

In [ ]:
celcius = 32.5
fehrenheit = (9/5*(celcius))+32
print(fehrenheit)

90.5

In [ ]:
def convert_to_fehrenheit (celcius):
  fehrenheit = (9/5*(celcius))+32
  print(fehrenheit)

convert_to_fehrenheit (32.5)

90.5

In [ ]:
cels = input()
print(cels)

hi
hi

In [ ]:
cels = input()
print(cels)
type(cels)
convert_to_fehrenheit(float(cels))

32.5
32.5
90.5

In [ ]:
cels = input("enter the temp in celcius")

enter the temp in celcius32.5

In [ ]:
def add(x,y):
  return x+y

In [ ]:
def subtract(x,y):
  return x-y

In [ ]:
def add(x,y):
  return x+y

def subtract(x,y):
  return x-y

def calculate (options):
  if(options == '1' or options == '2'):
    num1 = float(input("enter 1st number:"))
    num2 = float(input("enter 2nd number:"))

    if options=='1':
      print("sum",num1,"+",num2,"=",add(num1,num2))
    elif options=='2':
      print("subtract",num1,"-",num2,"=",subtract(num1,num2))

  else:
    print("invalid input")


print("choose operation")
print("1 add")
print("2 subtract")

options = input("choose operations(1/2)")
calculate(options)

choose operation
1 add
2 subtract
choose operations(1/2)1
enter 1st number:5
enter 2nd number:8
sum 5.0 + 8.0 = 13.0

In [ ]:
type(num1)

int